
/* h-centered, v-top-margin */
div#a-cards-window-wrapper {

    --max-width: 1000px;
    position: absolute;
    left: calc( (100dvw - var(--right) + var(--left) ) / 2 );
    top: var(--top);
    translate: -50% 0;

}

div#a-cards-window-wrapper div.window-body {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;

}

div#a-cards-window-wrapper div.window-body div {

    width:100px;
    height: 50px;

}