:root {
    --effect: royalblue;
}

div#board {
    position: absolute;
    top: 0;
    height: 100dvh;
    width: 100dvw;
    background-color: wheat;
    z-index: 0;
    overflow: hidden;
    user-select: none;
    pointer-events: none;
}

div.overboard {
    z-index: 1;
}

g[name="hovered"] path {
    fill: var(--hovered);
    stroke: var(--hovered-border);
    stroke-opacity: 1;
    opacity: 1;
    stroke-width: 1px;
    pointer-events: none;
}

g[name="selected"] path[selected] {
    fill: var(--selected);
    stroke: var(--selected-border);
    stroke-opacity: 1;
    opacity: 1;
    stroke-width: 1px;
    pointer-events: none;
}

path[overlay] {

    fill: var(--fill, transparent);
    stroke: var(--stroke, var(--border));
    stroke-width: var(--stroke-width, .25px);

}