
div#choosing {

    position: absolute;
    left:2dvh;
    bottom:2dvh;

}


div.active-game {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}

div.active-game div:not(:first-child),button:not(:first-child) {

    margin-left: 5px;

}