
div#choosing {

    position: absolute;
    --max-width: 430px;
    --max-height: 465px;
}


div.active-game {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;

}