

div.gui {
	
    overflow: hidden;
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    right:0;

}

*.gui-highlight {

    background-color: var(--window-block-color-2);
    color: var(--window-block-color-1);
    border-color: var(--window-line-color-1) !important;

}

*.gui-standard {

    background-color: var(--window-block-color-1);
    color: var(--window-line-color-1);
    border-color: var(--window-line-color-1) !important;

}

*.gui-bold {

    background-color: var(--window-line-color-1);
    color: var(--window-line-color-2);
    border-color: var(--window-line-color-2) !important;

}

button.button {

    border: solid 1px;
    border-radius: 4px;   

}


div.row {
    display: flex;
    flex-direction: row;
}
