

div#gui {

    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    right:0;

}

div.window {

    border: solid black 1px;
    border-radius: 5px;
    background-color: aliceblue;
    width: fit-content;
    pointer-events: all;

}

div#username-window {

    position: relative;
    left: 50%;
    translate: -50%;
    top: 30%;
    translate: -50%;
    display: flex;
    flex-direction: column;
    padding: 5px;

}

div#username-window-header {

    padding-bottom: 5px;

}

div#username-window-body {

    display: flex;
    flex-direction: row;
    padding-bottom: 5px;

}
