


div#loading-window-holder {

    position: absolute;
    top: 30%;
    left:75%;
    translate: -50% -50%;

}

div#test-window-holder {

    position: absolute;
    top: 30%;
    left:25%;
    translate: -50% -50%;

}
