
:root {
    /* --land: #808080; */
    --land:#ecd8c0;
    --water: #c6ddec;
    --coastal: azure;
    --border: black;
    /* --hovered: #999999; */
    --hovered:#f5e4cf;
    --hovered-border: white;
    /* --selected: #b3b3b3; */
    --selected: #ccbdaa;
    --selected-border:white;
    --city: black;
    --floodplain: darkgreen;
    --floodplain-border: green;
    --floodplaincity: white;
    --water-stroke: rgb(85, 178, 255);
    --highlight: hsl(0, 0%, 84%);
    --support0: #CA8C4E;
    --support1: #B0D050;
    --support2: #52D552;
    --support3: #68DABE;
    --support4: #7DAEE0;
}

svg {
    pointer-events:visibleFill;
}

path {
    pointer-events: none;
    stroke-linejoin: round;
}

path[layer="search-features"] {
    fill:gray !important;
}


path[defs] mask path {
    fill: unset;
    pointer-events: none;
}

path[layer] {
    pointer-events: none;
    /* fill: var(--highlight) !important; */
}


path[type='land'] {
    fill: var(--land);
    stroke: var(--border);
    stroke-width: .2;
}

path[type='cover'] {
    fill: var(--color, var(--land));
    stroke: var(--border);
    stroke-width: .2;
}

path[type='water'] {
    fill: var(--water);
    stroke-width: .2px;
    stroke: var(--border);
}

path[type='coastal'] {
    fill: var(--coastal);
    stroke: var(--border);
    stroke-width: .2;
}

text {
    pointer-events: none;
    text-anchor: middle;
    fill: black;
    font-size: .3rem;
    font: 'open sans';
}

circle[support] {
    user-select: none;
    pointer-events: none;
    opacity: 1;
    fill: yellow;
    stroke-width: .25px;
    stroke: black;
}

circle[value="0"] {fill: var(--support0)}
circle[value="1"] {fill: var(--support1)}
circle[value="2"] {fill: var(--support2)}
circle[value="3"] {fill: var(--support3)}
circle[value="4"] {fill: var(--support4)}
text[support] {
    font-weight: 700;
    font-size: .45rem
}

circle[support][exceeding] {
    stroke: blue;
    stroke-width: .75px;
}

path[type="floodplain"] {
    stroke: var(--floodplain-border);
    fill: var(--floodplain);
    fill-opacity: .1;
    stroke-width: 1;
}

path[type="city"] {
    padding: 20px;
    fill: var(--color, var(--city));
    stroke: var(--city);
    stroke-width: .5px;
}

path[type="city"][floodplaincity] {
    fill: var(--color, var(--floodplaincity));
    stroke: var(--floodplaincity);
}

path[type="city"][active] {

    stroke-width: 3px;

}

path[type="city"][active]:hover {

    stroke-width:  5px;

}

path[type="volcano"] {
    fill: red;
    stroke: black;
    opacity: 1;
    stroke-opacity: .5px;
}

path[overlay] {
    pointer-events: none;
    opacity: 1;
    fill: var(--color, transparent);
}

path[conflict] {
    stroke: darkred;
    stroke-width: 2px;
}

path[contested] {
    mask: url(#crossFillMask) !important;
    fill: var(--color);
}

g[hide] * {
    display: none;
}

path[active] {
    pointer-events:all;
}
