
div#pregame {

    position: absolute;
    --max-width: 430px;
    --max-height: 465px;

}

div#pregame-window-holder td.civilization-name {

    --civilization-color: currentColor;
    background-color: var(--civilization-color);

}

