:root {

    --window-padding: 3px;
    --window-line-color-1: #aa947b;
    --window-line-color-2: #3d352a;
    --window-block-color-1: #eae0d5;
    --window-block-color-2: #5e503f;

}

div#gui div.window-wrapper.centered-top {

    --spacer: calc( 3 * var(--window-padding) );
    --top: var(--second-top);
    --left: var(--gutter);
    --right: var(--gutter);
    --bottom: var(--second-bottom);
    position: absolute;
    left: calc( (100dvw - var(--right) + var(--left) ) / 2 );
    top: var(--top);
    translate: -50% 0;
    pointer-events: none;
    z-index: 3;

}

div#gui div.window-wrapper.centered-bottom {

    --spacer: calc( 3 * var(--window-padding) );
    --bottom: var(--second-bottom);
    position: absolute;
    bottom:var(--bottom);
    left: 50%;
    translate: -50% 0;
    pointer-events: all;
    width: fit-content;

}

div.window {

    height: calc(100dvh - var(--top) - var(--bottom) );
    width: calc( 100dvw - var(--left) - var(--right) );
    max-width: var(--max-width);
    max-height: var(--max-height);
    position: static;
    overflow: hidden;
    border: solid 1px;
    border-radius: 5px;
    pointer-events: all;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: auto;

}

div.window-wrapper:has(div.window-title, div.window-title-badges-wrapper) div.window div.window-header button.window-header-tab {

    padding-top: calc( 4 * var(--window-padding));

}

div.window-wrapper:has(div.window-title, div.window-title-badges-wrapper) div.window:not(:has(div.window-header)) div.window-body {

    margin-top: calc( 3 * var(--window-padding) );

}

div.window-title {

    position: absolute;
    top: 0;
    translate: 0 calc( 3 * var(--window-padding) - 100%);
    left: var(--window-padding);
    right: var(--window-padding);
    padding: 2px;
    border-radius: 3px;


}

div.window-title-badges-wrapper {

    position: absolute;
    top:0;
    right:var(--window-padding);
    translate: 0 -65%;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

button.window-title-badge {

    padding:2px;
    color: var(--window-block-color-1);
    background-color: var(--window-line-color-1);
    margin-left: var(--window-padding);
    pointer-events: all;
    border-radius: 5px;

}

button.window-title-badge.symbol-button {

    border-radius: 50%;
    line-height: 0;
    aspect-ratio: 1/1;

}

div.window-header {

    border-radius: inherit;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: stretch;
    margin-right: var(--window-padding);

}

button.window-header-tab {

    padding: var(--window-padding);
    border-bottom: solid 1px;
    border-right: solid 1px;

}

button.window-header-tab[active] {

    background-color: var(--window-block-color-2);
    color: var(--window-block-color-1);
    border-color: var(--window-line-color-1);

}

div.window-body {

    padding: var(--window-padding)

}

div.window-footer {

    padding: var(--window-padding);
    padding-top: 0;

}

div.window-title-badges input.text-input {

    user-select: text;
    position: all;

}